@model carInsuranceQuotes.Models.userInfoQuote

@{
    ViewBag.Title = "Result";
}
                                                                         
    <div class="jumbotron bg-danger" style="background-color:black">                           
        <div class="container bg-primary">
            <h3 class="display-2 text-center text-white">@ViewBag.Name your quote is ready:</h3>
            <h1 class="lead text-center text-white">$@ViewBag.Message</h1>
        </div>
    </div>
    


