@using ManagementPortal.Helpers
@using ManagementPortal.Enums

@{
    ViewBag.Title = "Success";
}

<br />
<br />
<br />
<div class="jumbotron form-horizontal formContainer" style="opacity: .8; border-radius: 20px; padding: 50px">
    <svg viewBox="0 10 250 20"><text x="0" y="25">Boom. Your form was submitted.</text></svg>
    <br />
    <br />
    <p class="lead font-weight-bold">@Html.Raw(ViewBag.Message)</p>
    <br />
    <p class="text-center">
        @Html.AnchorButton(AnchorType.Home, Url.Action("Index", "Home")) @*User friendly anchor button to redirect them to home*@
    </p>

</div>